<div class="formInput">
  <form #flashForm="ngForm" >
    <div>
      <label for="">Question</label>
      <div class="control" >
      <input type="text" name="question" #question [(ngModel)]="flash.question"
      [ngClass]="{'is-danger': question.invalid && !question.pristine}">
      </div>
    </div>
    <div>
      <label for="">Answer</label>
      <input type="text" name="Answer">
    </div>

    <div>

      <button mat-button  (click)="handleSubmit()" class = "submit" type="submit">Submit </button>
      <button mat-button (click)="handleReset()" class="reset">Reset</button>

    </div>
  </form>
</div>

<br>
<br>

<div>
  <app-flash *ngFor="let flash of flashs; trackBy : trackById"
             [flash]="flash"
             (onToggleCard) = "handleToggleCard($event)"
             (onDelete)="handleDelete($event)"
             (onEdit)="handleEdit($event)"
             (onRememberedChange)="handleRememberedChange($event)"></app-flash>
</div>

